div{
    background-color:#9dd1e4;
}

.row{
    padding: 10px;
    text-align: center;
}

@media (max-width: 575px){
    #foto{
        transform: rotateY(180deg);
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left: 33%;
        top: 840px;
    }
}

@media (min-width: 576px){
    #foto{
        transform: rotateY(180deg);
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(0,0,0);
        left: 2%;
        top: 550px;
    }
}


#nombre{
    font-weight: bold;
    margin-top: 15%;
}
