<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id ="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Luis Miguel Angel Cabrera</p>
        <p>Developer FullStack Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca De</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem enim reiciendis, et beatae sequi quam nihil ullam quidem rerum laboriosam recusandae nobis voluptatem expedita? Veniam voluptate labore ea vitae quaerat.
            </p>
        </span>

    </div>

</div>
