div{
    background-color:#37BBED;
}

.row{
    padding: 10px;
    text-align: center;
}

<<<<<<< HEAD
@media (max-width: 575px){
    #foto{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px darkgrey;
        left: 33%;
        top: 630px;
    }
}

=======
>>>>>>> e93338504d0accf676a896bb5326b04305ce1e79
@media (min-width: 576px){
    #foto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
<<<<<<< HEAD
        box-shadow: 3px 3px 3px darkgrey;
        left: 2%;
        top: 550px;
=======
        box-shadow: 2px 2px 2px blue;
>>>>>>> e93338504d0accf676a896bb5326b04305ce1e79
    }
}


#nombre{
    font-weight: bold;
<<<<<<< HEAD
    margin-top: 30%;
}
=======
    margin-top: 15%;
}

>>>>>>> e93338504d0accf676a896bb5326b04305ce1e79
