<div class="row">
    <h1>Proyectos</h1>
    <div class="container ">
        <ul>
            <li>
                <h1>Proyecto 1</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde odit soluta accusamus esse, tempora placeat et magnam odio labore cum incidunt sed aliquid deleniti commodi voluptatibus consectetur dolorum enim earum.
                </p>
                <img src="../../../assets/proyectos/obraDonBosco.jpg" class="img-fluid" alt="Obra Don Bosco">
            </li>
            <li>
                <h1>Proyecto 2</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde odit soluta accusamus esse, tempora placeat et magnam odio labore cum incidunt sed aliquid deleniti commodi voluptatibus consectetur dolorum enim earum.
                </p>
                <img src="../../../assets/proyectos/adopcionMascotas.jpg" class="img-fluid" alt="Adopcion de Mascotas">
            </li>
            <li>
                <h1>Proyecto 3</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde odit soluta accusamus esse, tempora placeat et magnam odio labore cum incidunt sed aliquid deleniti commodi voluptatibus consectetur dolorum enim earum.
                </p>
                <img src="../../../assets/proyectos/ShopingCart.jpg" class="img-fluid" alt="API RESR Carrito">
            </li>

        </ul>
    </div>    
</div>